

.App {
  text-align: center;
  background-color: #bdc3c7;


}
input{
  width: 83%;
  height: 45px;
  margin-bottom: 50px; 
  font-size: 30px;
  margin-left: 4%;
}
li{
  list-style-position: inside;
  
  text-align: left;
  font-size: 25px;
}
ul{
  width: 83%;
  margin: 0 auto;
  
  
}

.App-logo {
  
  height: 60px;
 
}
img{
   border-radius: 10%;
}

.App-header {
 
  width: 100vw;
  background-color:#34495e;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.mainContent{
  background-color:#bdc3c7;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  color: #2c3e50;
}
button{
  float: right;
  padding: 10px;
  width: 85px;
  border-radius: 5%;
  background: #e74c3c;
  color: #ecf0f1;

}
